body
{
    overflow:hidden;
    font-family:Tahoma;
    font-size:12px;
    font-weight:bold;
    color:#1E78AD;
    text-align: center;

}
.maindiv
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 240px;
    background-color: #FFFFFF;
}
#quit
{
    height:21px;
    width: 75px;
    background-color: #438EB9;
    border: 1px white solid;
    position:absolute;
    left:216px;
    top:214px;
    text-align:center;
    font-size: 14px;
}
#skey1
{
    height:21px;
    width: 74px;
    background-color: #438EB9;
    border: 1px white solid;
    position:absolute;
    left:30px;
    top:214px;
    color: white;
    vertical-align: bottom;
    text-align:center;
    font-size: 14px;

}

#skey2
{
    height:21px;
    width: 74px;
    background-color: #438EB9;
    border: 1px #438EB9 solid;
    position:absolute;
    left:123px;
    top:214px;
    color: #1E78AD;
    text-align:center;
    font-size: 14px;
}

#skey3
{
    height:21px;
    width: 75px;
    background-color: #438EB9;
    border: 1px white solid;
    position:absolute;
    left:30px;
    top:214px;
    text-align:center;
    font-size: 14px;

}
#divStatus
{
    height:50px;
    width: 280px;
    position:absolute;
    left:20px;
    top:185px;
    text-align:left;
}
#scanimg
{
    height:33px;
    width: 150px;
    position:absolute;
    left:150px;
    top:205px;
}
.title
{
    font-size: 14px;
    margin:0 auto;
    font-weight:bold;
}
.iframes
{

}
